@model OrderDetailsViewModel
@using BulkyBook.Utility
@{
    var isReadOnly = true;
    var isAdmin = false;
    if (User.IsInRole(SD.IdentityRole_Admin) || User.IsInRole(SD.IdentityRole_Employee))
    {
        isReadOnly = false;
        isAdmin = true;
    }
}
<form method="post">
        <input type="hidden" asp-for="OrderHeader.Id" />
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-primary">PickUp Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Name</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Name" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Name" type="text" class="form-control" />
                                    }
                                </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Phone</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.PhoneNumber" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.PhoneNumber" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Address</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.StreetAddress" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.StreetAddress" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">City</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.City" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.City" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">State</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.State" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.State" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Zip Code</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.PostalCode" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.PostalCode" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Email</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.ApplicationUser.Email" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Order Date</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Carrier</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.Carrier" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Carrier" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Tracking</div>
                                    <div class="col-9">
                                    @if (isReadOnly)
                                    {
                                        <input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.TrackingNumber" type="text" class="form-control" />
                                    }
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Shipping Date</div>
                                    <div class="col-9">
                                        <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" id="shippingDate" readonly type="text" class="form-control" />  
                                    </div>
                                </div>
                                @if (isAdmin)
                                {
                                    <div class="row my-1">
                                        <div class="col-3">Transaction ID</div>
                                        <div class="col-9">
                                            <input asp-for="OrderHeader.TransactionId" readonly type="text" class="form-control" />
                                        </div>
                                    </div>

                                <div class="row my-1">
                                    @if (Model.OrderHeader.TransactionId is null)
                                    {
                                        <div class="col-3">Payment Due Date</div>
                                        <div class="col-9">
                                            <input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()" readonly type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        </div>
                                        <div class="col-3">Payment Date</div>
                                        <div class="col-9">
                                            <input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" readonly type="text" class="form-control" />
                                        </div>
                                    }
                                </div>
                                    <div class="row my-1">
                                        <div class="col-3">Payment Status</div>
                                        <div class="col-9">
                                            <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                                        </div>
                                    </div>
                                }
                        </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Order Summary</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @foreach (var detail in Model.OrderDetails)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div class="row container">
                                                <div class="col-8">
                                                    <input type="hidden" asp-for="@detail.Id" />
                                                    <h6 class="my-0">@detail.Product.Title</h6>
                                                    <small class="text-muted">Price : @detail.Price.ToString("c")</small>
                                                    <small class="text-muted">Quantity : @detail.Count</small>
                                                </div>
                                                <div class="col-4">
                                                    <p class="text-success">@(String.Format("{0:C}", detail.Price * detail.Count))</p>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    <li class="list-group-item bg-info">
                                        <div class="row container">
                                            <div class="col-6">
                                                <h5 class="text-white">TOTAL </h5>
                                            </div>
                                            <div class="col-6 text-right">
                                                <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>